<!DOCTYPE html>
<html>

<%- include('../partials/header', {
  config: config,
  data: data,
}) %>

<body class="<%- route %>">
  <%- include('../partials/banner', {
    config: config,
  }) %>

  <%- include('../partials/navbar', {
    config: config,
    route: route,
    data: data,
  }) %>

  <%- include('../partials/container', {
    config: config,
    data: data,
  }) %>

  <!-- <%- include('../partials/footer') %> -->
</body>

</html>