<div class="navbar">

  <div class="navbar-mainmenu">
    <ul class="mainmenu" role="menubar">

      <% for (var item in data.menu) { %>
        <li role="menuitem">
          <% var r = data.menu[item].route;
             var parsedRoute = r;
             if (parsedRoute.split('/')[0] === '') {
               parsedRoute = parsedRoute.split('/');
               parsedRoute.shift();
               parsedRoute = parsedRoute.join('/');
               parsedRoute = relPath + parsedRoute + '/index.html';
             } %>

          <a href="<%= parsedRoute %>" class="<%= (route === r) ? 'current' : '' %>">
            <%= data.menu[item].text %>
          </a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="navbar-overlay">
    <div class="title"><%= data.title %></div>

    <ul class="overlay" role="menubar">

      <% if (data.userMenu) { %>
      <li role="menuitem">
        <div class="user-container">
          <div class="usericon-container">
            <img id="usericon" src="<%= relPath %>images/usericon.png">
          </div>
          <div class="usermenu">
            <div class="arrow-up"></div>
            <div class="items">
              <% var contents = data.logged ? data.userMenu.loggedIn : data.userMenu.loggedOut; %>
              <% for (var c in contents) { %>
                  <a href="<%= contents[c].route %>">
                    <%= contents[c].text %>
                  </a>
              <% } %>
            </div>
          </div>
        </div>
      </li>
      <% } %>

      <li role="menuitem">

        <div class="navicon-container">
          <img id="navicon" src="<%= relPath %>images/navicon.png">
        </div>

      </li>
    </ul>
  </div>

</div>
